{% extends "sensors/base.html" %}

{% block title %}Sensors recent history{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12">
            <!-- Temperature -->
            {% if one_reading %}
                {%  if one_reading.is_current %}
                    Currently: {{ one_reading.temperature_celsius }}&deg;C ({{ temperature_trend_str }})
                {% else %}
                    {{ one_reading.temperature_celsius }}&deg;C at {{ one_reading.compact_date }} ({{ temperature_trend_str|safe }})
                {% endif %}
            {% else %}
                No reading available.<br>
            {% endif %}
            <!-- Humidity -->
            {% if one_reading %}
                {%  if one_reading.is_current %}
                    Currently: {{ one_reading.humidity_percent }}% ({{ humidity_trend_str }})
                {% else %}
                    {{ one_reading.humidity_percent }}% at {{ one_reading.compact_date }} ({{ humidity_trend_str }})
                {% endif %}
            {% else %}
                No reading available.<br>
            {% endif %}
            <div id="tchart_container" style="min-width: 400px; height: 400px; margin: 0 auto">
            </div>
        </div>
    </div>

{% if reading_context %}

<script src="{{ STATIC_URL }}js/highcharts.js"></script>

<script type="text/javascript">

var temperature_data = [
    {% for reading in reading_context %}{{ reading.temperature_celsius }},
    {% endfor %}];
var humidity_data = [
    {% for reading in reading_context %}{{ reading.humidity_percent }},
    {% endfor %}];
var categories = [
    {% for reading in reading_context %}'{{ reading.datetime_read_as_seconds_since_epoch_local_tz }}',
    {% endfor %}];

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'tchart_container',
                zoomType: 'xy'
            },
            title: {
                text: 'Temperature and Humidity',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: categories
            },
            yAxis: [{ // Primary yAxis
                labels: {
                    formatter: function() {
                        return this.value +'°C';
                    },
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: 'Temperature',
                    style: {
                        color: '#89A54E'
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: 'Humidity',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value +'%';
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                opposite: true
            }],
            tooltip: {
                formatter: function() {
                    return ''+
                            this.x +': '+ this.y +
                            (this.series.name == 'Humidity' ? '%' : '°C');
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 100,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: [{
                name: 'Humidity',
                color: '#4572A7',
                type: 'column',
                yAxis: 1,
                data: humidity_data
            }, {
                name: 'Temperature',
                color: '#89A54E',
                type: 'spline',
                data: temperature_data
            }]
        });
    });

});

</script>

{% else %}
    No context available.<br>
{%  endif %}
{% endblock %}